.btn-delete {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .btn-download {
    background-color: gray;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .btn-edit {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .icon {
    /* Add your icon styles here */
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('mbs_dms\mbs_dms\assets\img\FOLDER.png');
    background-size: cover;
    margin-right: 5px;
  }
  
  .btn-search{
    background-color: blue;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 10px;
    cursor: pointer;
  }
  .header {
    display: flex;
    align-items: center;
  }

  .search-input {
    margin-left: auto;
    margin-right: 10px;
    height: 42px;
    border-radius: 10px;
    width: 40%;
    background-color: rgb(182, 176, 176);
    border: none;
    margin-left: 80px;
  }

  .btn-approve{
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
  }

  .btn-decline{
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
  }
  .btn-send{
    background-color: rgb(11, 78, 221);
    color: white;
    border: none;
    padding: 7px 20px;
    border-radius: 10px;
    cursor: pointer;
  }

  .input-from, .input-to, .input-subject, .input-message{
    background-color: rgb(226, 222, 222);
    border: none;
    color: black;
  }
  .input-from, .input-to, .input-subject{
    height: 50px;
    width: 70%;
    border-radius: 10px;
  }

  .input-message{
    width: 70%;
    height: 300px;
    margin-left: 20%;
    margin-right: 10%;
    border-radius: 20px;
    padding: 5% 5%;
    
  }
  
  .btn-send-attach{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 10%;
    font-weight: 500px;
    font-size: 20px;
  }